{{!-- Base Layout used on ever page unless otherwise specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global.site}}</title>

    {{#each global.styles}}
        {{#if this.enabled}}
    {{!-- Awkward spacing so the generate file does not have weird indents. --}}
    <link rel="stylesheet" href="{{root}}assets/css/{{this.file}}">
        {{/if}}
    {{/each}}
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

<div class="container-fluid">

    {{> nav }}

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
</div>

{{#each global.scripts}}
    {{#if this.enabled}}
{{!-- Awkward spacing so the generate file does not have weird indents. --}}
<script src="{{root}}assets/js/{{this.file}}"></script>
    {{/if}}
{{/each}}
<script src="{{root}}assets/js/app.js"></script>

</body>
</html>
